body{

background:purple;
font-family:Arial;
}

#datetime{

position:absolute;
right:20px;
top:20px;
font-size:18px;
font-weight:bold;
color:white;

}

.container{

width:450px;
margin:60px auto;
background:gray;
padding:30px;
border-radius:10px;
}

h2{

text-align:center;
color:white;

}

label{

display:block;
margin-top:12px;
color:white;

}

input,textarea{

width:100%;
padding:10px;
margin-top:5px;
border:none;
outline:none;
font-size:16px;

}

.gender input{

width:auto;

}

input:focus{

background:blue;
color:white;
box-shadow:0px 0px 10px yellow;

}

textarea:focus{

background:green;
color:white;
box-shadow:0px 0px 10px yellow;

}

input[type=submit]{

background:black;
color:white;
cursor:pointer;
margin-top:20px;

}

input[type=submit]:hover{

background:red;
color:white;
box-shadow:0px 0px 10px white;

}